.App{
  height: max-content;
display: flex;
justify-content: center;
}

.allItemsHeader{
  background-color: #add9e6;
  margin: 0;
  padding: 10px;
}

.selectedItemsHeader{
  background-color: #f0807f;
  margin: 0;
  padding: 10px;


}

ul{
  
  margin: 0;
  padding-left:0;
  padding: 5px;

}

ul li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.box{
  width: 20%;
}
